* {
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    outline: none;
    color: white;
}
body{
    background-color: rgb(53, 53, 53);
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.main .box{
    padding: 20px 10px;
    width: 300px;
    background-color: rgb(77, 76, 76);
    border-radius: 10px;
}
.main .box .mensage{
    padding: 20px 0px 50px 0px;
    text-align: center;
}
.main .box .mensage h1{
    padding-bottom: 20px;
}
.main .box .mensage p{
    font-size: 18px;
}
.main .box .inputs{
    display: flex;
}
.main .box .inputs input{
    width: 100%;
    border-radius: 10px;
    background-color: rgba(121, 120, 120, 0);
    padding: 5px 10px;
    font-size: 16px;
}
.main .box .inputs button{
    padding: 5px 10px;
    border-radius: 10px;
    border: 0px;
    background-color: rgb(45, 155, 1);
    margin-left: 10px;
    cursor: pointer;
}
.main .box .preview{
    text-align: center;
    padding: 30px 0px 20px 0px;
    font-size: 20px;
    font-weight: 600;
}
.main .box table thead tr th{
    padding:10px 0px;
}
.main .box table tbody tr td{
    border: solid 1px rgb(138, 138, 138);
    padding: 5px 0px;
    text-align: center;
}